body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
 
    }
    

h1 {
    color: aqua;
}

.header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
}


.converter {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 20px;
}


select, input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
}

input[readonly] {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

